---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

// Get tech blog posts
const techPosts = (await getCollection("blog"))
    .filter(post => !post.data.draft && post.data.category === "tech")
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 5); // Show only the 5 most recent

// Get career blog posts
const careerPosts = (await getCollection("blog"))
    .filter(post => !post.data.draft && post.data.category === "career")
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 5); // Show only the 5 most recent
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Blog
      </div>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Tech Blog
          </h5>
          <Link href="/blog/tech">
            See all tech posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {techPosts.map(post => (
              <li>
                <ArrowCard entry={post} />
              </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Career Growth
          </h5>
          <Link href="/blog/career">
            See all career posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {careerPosts.map(post => (
              <li>
                <ArrowCard entry={post} />
              </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
