---

import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";

import { Markdown } from "@astropub/md";
import { ABOUT, ABOUTCONTENT } from "@consts";

// const collection = (await getCollection("about"))
//   .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

// const about = await Promise.all(
//   collection.map(async (item) => {
//     const { Content } = await item.render();
//     return { ...item, Content };
//   })
// );
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        About Me
      </div>
      <ul class="flex flex-col space-y-4">
        <li class="animate">
          <article>
            <Markdown of={ABOUTCONTENT.DESCRIPTION} />
          </article>
        </li>
      </ul>

    </div>
  </Container>
</PageLayout>
